# =========================
# Virtual Environments
# =========================
venv/
newenv/
env/
ENV/
.venv/

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# =========================
# MacOS
# =========================
.DS_Store

# =========================
# Datasets
# =========================
data/raw/
data/processed/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Logs
# =========================
*.log

# =========================
# Streamlit Secrets
# =========================
.streamlit/secrets.toml

# =========================
# IMPORTANT:
# Track trained model files
# =========================
!models/speech_pipeline/emotion_bilstm.pth
!models/text_pipeline/text_mlp.pth
!models/fusion_pipeline/attention_fusion_model.pth