streamlit==1.37.1

torch
torchaudio
torchvision

transformers==4.41.2
tokenizers==0.19.1
sentencepiece

numpy
pandas
scikit-learn
scipy

matplotlib
seaborn

librosa
soundfile

Pillow
datasets
huggingface_hub
safetensors